@import '~bootstrap/scss/bootstrap';

#pills-tabContent{
    margin: 150px;
    padding: 70;
    margin-top: 1px;
}
#pills-tab{
    margin: 70px;
    padding: 70px;
    margin-top: 1px;
}
#myicon{
    margin-right: 10px;
    font-size: 10px;
}

#btn1{
    margin: 50px;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
}
#btn2{
    margin: 50px;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
}
